<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="mb-3">
      <label for="Title" class="form-label">Title</label>
      <input type="text" class="form-control" name="postTitle" style="width:100%">
    </div>
    <div class="mb-3">
      <label  class="form-label">Post</label>
      <textarea name="postBody" cols="40" rows="5" style="width:100%; height:150px"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
  </form>


<%- include("partials/footer") -%>